header {
  background: #f8f8f8;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
}
