:root {
  --clr-bg-main: #e6d4f5;
  --clr-bg-footer: #180d29;
  --clr-bg-card: violet;
  --clr-font-main-primary: rgb(42, 27, 64);
  --clr-font-secondary: #f3eefa;
  --clr-font-white: white;
  --clr-bg-btn-hover: rgb(128, 0, 128);
  --clr-bg-btn: rgb(148, 0, 211);
  --clr-link-hover: #ff79c6;

  /* для тіней rgba */
  --clr-rgb-hover: 123, 44, 191;
  --clr-rgb-main: 230, 212, 245;
  --clr-font-rgb-primary: 42, 27, 64;
  --clr-rgb-card: 238, 130, 238;
  --clr-rgb-btn-hover: 128, 0, 128;
  --clr-rgb-btn: 148, 0, 211;

  --transition: cubic-bezier(0.34, 1.56, 0.64, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg-main);
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: var(--clr-font-main-primary);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.6px;

  @media (min-width: 768px) {
    font-weight: 500;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 300px;
  background: var(--clr-bg-btn);
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  color: var(--clr-font-white);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer;
  transform: translateY(0);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
  /* box-shadow: 0 6px 16px rgba(181, 126, 220, 0.35); */

  @media (min-width: 768px) {
    font-weight: 600;
  }

  &:hover,
  &:focus-visible {
    background: var(--clr-bg-btn-hover);
    transform: translateY(-1px);
    box-shadow: 0 6px 20px rgba(180, 62, 189, 0.4);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn:hover::before,
.btn:focus-visible::before {
  content: "➔";
  color: var(--clr-font-white);
  left: -30px;
  margin-right: 8px;
  font-size: 14px;
  animation: arrowRight 2s linear infinite;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(20px) scale(0);
  text-align: center;
  margin-bottom: 20px;
  color: var(--clr-font-main-primary);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

h2.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

section {
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 40px 0;
  }
}

h2 span {
  color: var(--clr-bg-btn-hover);
}

h3 {
  font-size: 1.45rem;
  font-weight: 700;
}
