.header-katharsis {
  background: #f8f8f8;
  padding-block: 10px;
  /* position: sticky; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: fixed;
  transition: transform 0.3s ease-in-out;
}

.header-katharsis.hidden {
  transform: translateY(-100%);
}

header.hidden::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  height: 20px;
  background: transparent;

}

.container-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding-inline: clamp(0px, 1%, 32px);
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  overflow: hidden;
}

.logo-img {
  height: auto;
  width: 100%;
}

/* Навігація */

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: clamp(15px, 2%, 30px);
  row-gap: 30px;
  column-gap: 20px;
}

nav a,
.footer-nav a,
address p {
  position: relative;
  text-decoration: none;
  color: #555;
  text-wrap: nowrap;
}

nav a,
nav .btnLink {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.6;
  transform: translateY(0) scale(1);
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @media (min-width: 1024px) {
    font-size: 18px;
    font-weight: 500;
  }

  &:hover,
  &:focus-visible {
    color: var(--clr-bg-btn);
    transform: translateY(-1px) scale(1.02);
  }
}

nav a.active {
  color: var(--clr-bg-btn);
}

.btnLink {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav a::before,
.btnLink::before,
.footer-nav a::before,
address p::before,
.link-more::before,
.news::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-bg-btn);
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    scale 0.3s ease;
}

nav a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

nav.open ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  background: white;
  width: 100%;
  padding: 10px;
  z-index: 100;
  height: 100vh;
  padding: 90px 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

nav li a:hover,
nav li a:focus-visible {
  color: var(--clr-bg-btn);
  scale: 1.02;
  transform: translateY(-2px) scale(1.02);
}

nav ul li a:hover::before,
.btnLink:hover::before,
.footer-nav a:hover::before,
address p:hover::before,
nav ul li a:focus-visible::before,
.btnLink:focus-visible::before,
.footer-nav a:focus-visible::before,
address a:focus-visible::before,
.link-more:hover::before,
.link-more:focus-visible::before,
.news:hover::before,
.news:focus-visible::before {
  transform: scaleX(1);
  opacity: 1;
  background: var(--clr-bg-btn);
}

.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.burger svg {
  width: 100%;
  height: 100%;
  stroke: var(--clr-bg-btn);
  stroke-width: 2px;
  transform: rotate(0deg);
  color: var(--clr-font-main-primary);
}

nav.open .burger svg {
  transform: rotate(0deg);
  transition: transform 0.3s ease, color 0.3s ease;
}

nav.open .burger:hover svg {
  transform: rotate(90deg);
  color: rgba(255, 0, 0, 0.76);
}


@media (max-width: 767px) {
  nav ul {
    display: none;
    flex-direction: column;
  }
  .burger {
    display: block;
  }
}

#top-pointer {
  position: absolute;
  top: 100vh;
  left: 0;
  background: transparent;
  width: 1px;
  height: 1px;
}