<footer class="footer" id="footer">
  <div class="footer-container container">
    <div class="footer-top">
      <a href="/" class="logo-link">
        <img
          src="/image/katharsis-logo.svg"
          width="150"
          height="60"
          alt="На головну"
          class="logo-img"
        />
      </a>
      <div class="contacts">
        <h3>Kontaktiere uns</h3>
        <address class="footer-social">
          <a href="tel:+491711420052"
            ><svg width="16" height="16">
              <use href="/image/sprite.svg#phone"></use>
            </svg>
            +49 171 142 0052</a
          >
          <a
            href="https://www.instagram.com/katharsis_dance"
            target="_blank"
            rel="noopener noreferrer"
            ><svg width="16" height="16">
              <use href="/image/sprite.svg#instagram"></use>
            </svg>@katharsis_dance</a
          >

          <a href="mailto:katharsisdance@gmail.com"
            ><svg width="16" height="16">
              <use href="/image/sprite.svg#envelop"></use>
            </svg></i>katharsisdance@gmail.com</a
          >
        </address>
      </div>

      <div class="footer-nav">
        <h3>Seiten</h3>
        <a href="index.html">Startseite</a>
        <a href="about.html">Über mich</a>
        <a href="kurse.html">Tanzrichtungen</a>
        <a href="gallery.html">Galerie</a>
        <button
          type="button"
          aria-label="Anmeldung öffnen"
          data-openForm
          class="btnLink"
        >
          Anmeldung
        </button>
      </div>
      <div class="footer-nav">
        <h3>Informationen</h3>
        <a href="index.html#about">Unsere Philosophie</a>
        <a href="index.html#hausordnung">Hausordnung</a>
        <a href="index.html#abonements">Abonnements und Preise</a>
        <a href="index.html#stundenplan">Stundenplan</a>
        <a
          href="https://docs.google.com/document/d/1mYv_-VJ2w-5GUGYckwgQWDE6iHwBe4296-pi6yrgYf8/edit?tab=t.0"
          >Neuigkeiten</a
        >
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025-<span id="currentYear"></span> Katharsis Dance</p>
      <span class="imp-dat">
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html"> Datenschutz</a>
      </span>
      <div class="footer-dev"> 
        <p class="dev-label"> Website & Design by </p>
          <a
            href="https://www.instagram.com/digital_it_hub_wu/#"
            target="_blank" class="dev-link"
            rel="noopener noreferrer"
          >
            <img class="dev-logo" src="/image/logo_Hub_it_Community.webp"  width="32"
          height="32" alt="logo digital_it_hub"/>
            <span class="dev-name">Digital IT Hub Würzburg e.V.</span>
          </a>
       
      </div>
    </div>
  </div>
  <button type="button" class="btnUp"  aria-label="Nach oben scrollen" title="Nach oben scrollen">
    <svg class="iconUp" width="30" height="30">
      <use href="/image/sprite.svg#select-up"></use>
    </svg>
  </button>
</footer>
