<footer class="footer" id="footer">
  <div class="footer-container container">
    <div class="footer-top">
      <a href="/" class="logo-link">
        <img
          src="/image/katharsis-logo.webp"
          width="150"
          height="50"
          alt="На головну"
          class="logo-img"
        />
      </a>
      <div class="contacts">
        <h3>Kontaktiere uns</h3>
        <address class="footer-social">
          <a href="tel:+49123456789"
            ><i class="fas fa-phone"></i>+49 123 456 789</a
          >
          <a
            href="https://www.instagram.com/katharsis_dance"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-instagram"></i>@katharsis_dance</a
          >

          <a href="mailto:katharsisdance@gmail.com"
            ><i class="fas fa-envelope"></i>katharsisdance@gmail.com</a
          >
        </address>
      </div>

      <div class="footer-nav">
        <h3>Seiten</h3>
        <a href="index.html">Startseite</a>
        <a href="about.html">Über mich</a>
        <a href="kurse.html">Tanzrichtungen</a>
        <a href="gallery.html">Galerie</a>
        <button
          type="button"
          aria-label="Anmeldung öffnen"
          data-openForm
          class="btnLink"
        >
          Anmeldung
        </button>
      </div>
      <div class="footer-nav">
        <h3>Informationen</h3>
        <a href="index.html#about">Unsere Philosophie</a>
        <a href="index.html#hausordnung">Hausordnung</a>
        <a href="index.html#abonements">Abonnements und Preise</a>
        <a href="index.html#stundenplan">Stundenplan</a>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025-2026 Katharsis Dance. katharsisdance@gmail.com</p>
      <span>
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html"> Datenschutz</a>
      </span>
    </div>
  </div>
</footer>
