<header>
  <div class="container container-header">
    <a href="/" class="logo-link">
      <img
        src="/image/katharsis-logo.webp"
        width="150"
        height="50"
        alt="На головну"
        class="logo-img"
      />
    </a>
    <nav id="nav">
      <div class="burger"><i class="fas fa-bars"></i></div>
      <ul>
        <li><a href="/index.html">Startseite</a></li>
        <li><a href="/about.html">Über mich</a></li>
        <li><a href="/kurse.html">Tanzrichtungen</a></li>
        <li><a href="/gallery.html">Galerie</a></li>
        <li><a href="#footer">Kontakte</a></li>
        <li>
          <button
            type="button"
            aria-label="Anmeldung öffnen"
            data-openForm
            class="btnLink"
          >
            Anmeldung
          </button>
        </li>
        <!-- <li><a href="impressum.html">Impressum</a></li> -->
      </ul>
    </nav>
  </div>
</header>
