<!-- Lightbox Fullscreen Images
<div>
  <div id="img1" class="lightbox">
    <a href="#card1" class="lightbox-close"
      ><span class="close-icon">&times;</span></a
    >
    <img src="/image/kurse/kindertanz.jpg" alt="Kindertanz" />
  </div>

  <div id="img2" class="lightbox">
    <a href="#card2" class="lightbox-close"
      ><span class="close-icon">&times;</span></a
    >
    <img src="/image/kurse/moderner-tanz.jpg" alt="Moderner Tanz" />
  </div>

  <div id="img3" class="lightbox">
    <a href="#card3" class="lightbox-close"
      ><span class="close-icon">&times;</span></a
    >
    <img src="/image/kurse/contemporary.jpg" alt="Contemporary" />
  </div>
  <div id="img4" class="lightbox">
    <a href="#card4" class="lightbox-close"
      ><span class="close-icon">&times;</span></a
    >
    <img src="/image/kurse/contemporary.jpg" alt="Contemporary" />
  </div>
</div> -->

<dialog id="lightbox" class="lightbox">
  <button type="button" aria-label="Galerie schließen" class="lightbox-close">
    &times;
  </button>
  <img class="lightboxImg" src="" alt="" />
</dialog>
