<section class="schedule" id="stundenplan">
  <div class="container schedule-container">
    <h2>Stundenplan</h2>
    <ul class="schedule-list">
      <li class="schedule-item">
        <h3>Kindertanz</h3>
        <p class="age-group">Alter: 3–5 Jahre</p>
        <p>Dienstag und Donnerstag</p>
        <time datetime="16:00"> 16:00–16:50 Uhr </time>
      </li>
      <li class="schedule-item">
        <h3>Moderner Tanz</h3>
        <p class="age-group">Alter: 7–8 Jahren</p>
        <p>Dienstag und Donnerstag</p>
        <time datetime="17:00"> 17:00–18:00 Uhr </time>
      </li>
      <li class="schedule-item">
        <h3>Moderner Tanz</h3>
        <p class="age-group">Alter: 9–17 Jahre</p>
        <p>Dienstag und Donnerstag</p>
        <time datetime="18:00"> 18:00–19:30 Uhr </time>
      </li>
      <li class="schedule-item">
        <h3>Contemporary</h3>
        <p class="age-group">Alter: Erwachsene</p>
        <p>Montag</p>
        <time datetime="15:00"> 15:00–16:00 Uhr </time>
      </li>
      <li class="schedule-item">
        <h3>High Heels Dance</h3>
        <p>Mittwoch</p>
        <time datetime="19:00"> 19:00–19:30 Uhr </time>
      </li>
    </ul>
    <p>Den aktuellen Zeitplan können Sie in Google Tabellen einsehen:</p>
    <a
      href="https://docs.google.com/spreadsheets/d/1LEie9GwbDSplZWHTY4T58MhJDx3YIWUkOtUtm2V_K20/edit?gid=0"
      target="_blank"
      rel="noopener noreferrer"
      class="btn gsheet-btn"
    >
      <svg
        class="gsheet-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="#34A853"
      >
        <path
          d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm-9 14H7v-2h3v2zm0-4H7v-2h3v2zm0-4H7V7h3v2zm6 8h-4v-2h4v2zm0-4h-4v-2h4v2zm0-4h-4V7h4v2z"
        />
      </svg>
      <span class="btn-text">Offener Zeitplan</span>
    </a>
  </div>
</section>
